*{padding: 0;margin: 0;}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;outline: none;color: #666666;
}
a:hover{
    text-decoration: underline;
    color:rgb(127, 127, 228);
}
.clearfix::after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


html,body{
    width: 100%;height: 100%;
}
.index{
    width: 100%;font-size: 12px;font-family: "新宋体", "宋体", "微软雅黑", Arial;
    #header{
        width: 1349px;height: 170px;margin: auto;

        .header_tips{
            width: 981px;height: 24px;margin: 0 auto;padding: 10px 0 10px 16px;color: #6b6b6b;

            .tips{
                float: left;

                a{
                    padding: 0 2px;color: #367cb4;outline: none;font-size: 12px;
                }

                span{
                    font-size: 12px;
                }
            }

            .links{
                float: right;position: relative;padding-left: 110px;
                a{
                    float: left;margin-right: 9px;margin-left: 3px;color: #6b6b6b;cursor: pointer;font-size: 12px;outline: none;
                }

                .cartAccount{
                    clear: both;
                    display: block;
                    left: 0;
                    top: 0;
                    height: 20px;
                    padding: 0 10px 0 7px;
                    background: url(../images/viewCart.jpg) right 6px no-repeat;
                    background-color: #ffffff;

                    em{
                        display: block;
                        float: left;
                        padding: 0 2px;
                        text-align: center;
                    }
                    span{
                        display: block;
                        float: left;
                        padding: 0 3px;
                        color: #1063af;
                        overflow: hidden;
                        word-break: keep-all;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        font-weight: bolder;
                    }
                }

                .links_div{
                    width: 67px;float:left;height: 30px;margin-right: 9px;margin-left: 3px;color: #6b6b6b;cursor: pointer;
                
                    .client_serve{
                        padding: 3px;border: 1px solid #EEEEEE;z-index: 100;position: absolute;margin-top: 5px;background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),to(#F5F5F5));right: 14px;display: none;
                    }
                }
            }
        }

        .header_search{
            position: relative;width: 966px;padding-left: 15px;margin: 0 auto;z-index: 99;height: 90px;

           a{
               float: left;
           }

            .logo{
                display: block;width: 170px;height: 59px;float: left;
                img{
                    margin-top: 10px;
                }
            }

            .search_input{
                position: absolute;left: 227px;width: 519px;height: 59px;padding: 7px 9px;border: 1px solid #f1f1f1;border-radius: 5px;color: #b0b0b0;
                form{
                    .J_searchText{
                        float: left;width: 365px;padding: 8px;border: 1px solid #d9d9d9;border-radius: 3px;color: #bbbcbc;border: 2px solid rgb(76, 178, 244);
                    }
                    .J_searchBtn{
                        position: absolute;right: 10px;width: 123px;height: 34px;border: none;cursor: pointer;font-size: 16px;background: rgb(76, 178, 244);color: #fff;
                    }
                    p{
                        position: absolute;bottom: 5px;left: 10px;width: 454px;height: 19px;overflow: hidden;margin-top: 7px;

                        .advanced-search{
                            color: #6B6B6B;font-weight: bold;
                        }
                        span{
                            float: left;
                        }
                        a{
                            padding: 0 8px;color: #ea701d;
                        }
                    }
                }
            }

            .bookcount{
                border-bottom-color: #f1f1f1;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;border-bottom-style: solid;border-bottom-width: 1px;border-image-outset: 0 0 0 0;border-image-repeat: stretch stretch;border-image-slice: 100% 100% 100% 100%;border-image-source: none;border-image-width: 1 1 1 1;border-left-color: #f1f1f1;border-left-style: solid;border-left-width: 1px;border-right-color: #f1f1f1;border-right-style: solid;border-right-width: 1px;border-top-color: #f1f1f1;border-top-left-radius: 5px;border-top-right-radius: 5px;border-top-style: solid;border-top-width: 1px;
                color: #b0b0b0;
                height: 59px;
                left: 770px;
                padding-bottom: 7px;
                padding-left: 9px;
                padding-right: 9px;
                padding-top: 7px;
                position: absolute;
                width: 190px;
            }
        }

        .header_nav{
            position: relative;zoom: 1;z-index: 80;bottom: 0px;left: 0;height: 38px;min-width: 998px;background: rgb(76, 178, 244);
            .main_nav{
                position: relative;width: 981px;margin: 0 auto;
                h2{
                    display: block;width: 150px;height: 34px;line-height: 34px;margin-left: 12px;font-size: 14px;font-weight: bolder;color: #ffffff;overflow: hidden;cursor: pointer;
                }
                ul{
                    position: absolute;top: 0;left: 230px;height: 36px;
                    li{
                        display: block;float: left;width: 72px;
                        a{
                            display: block;height: 34px;line-height: 34px;color: #ffffff;font-size: 14px;font-weight: bold;text-align: center;
                        }
                    }
                }
            }
        }
    }

    #container{
        width: 998px;margin: 0 auto;

        //轮播图+加侧栏列表
        .main{

            .box_shadow{
                position: relative;
                zoom: 1;
                padding-top: 30px;
                z-index: 10;
    
                .box_content{
                    height: 819px;background-color: #fff;position: relative;zoom: 1;display: block;padding: 0 10px 0px 8px;overflow: hidden;
    
                    .hav{
                        padding: 0 17px 0 20px;
                        div{
                            padding: 7px 0 7px 6px;
                            border-bottom: 1px solid #d5ebfd;
    
                            h2{
                                padding: 3px 0;font-size: 12px;
                                a{
                                    color: #4c85b2;
                                }
                            }
            
                            p{
                                .hav_a{
                                    display: block;
                                    float: left;
                                    padding: 0 0px 0 0;
                                    color: #666666;
                                    word-break: keep-all;
                                }
                                span{display: block;float: left;width: 11px;color: #bfbfbf;text-align: center;
                                }
                            }
                        }
    

                    }
                }
                
            }
    
            .b_s{
                float: left;width: 240px;height: 819px;padding: 0 0 0 8px;margin-top: 0;background: url(../images/sidenav-left-shadow.gif) left top repeat-y;overflow: hidden;
            }
            .main_news{
                width: 728px;padding: 10px 6px 6px 6px;box-sizing: border-box;float: right;
                background: url(../images/index-imgplayer-top.gif) left top no-repeat;
                background-color: #fff;
                overflow: hidden;

                //轮播图
                .imgPlayer{
                    width: 728px;height: 266px;padding: 10px 6px 6px 6px;background: url(../images/index-imgplayer-top.gif) left top no-repeat;box-sizing: border-box;
                    background-color:pink;overflow: hidden;
                    position: relative;

                    .img_holder{
                        overflow: hidden;
                        position: absolute;
                        left: 0;
                        top: 0;
                        .img_wapper{
                            height:266px;position: absolute;left: 0;top: 0;
                            img{
                                width: 728px;height: 266px;float: left;
                            }
                        }
                    }

                    .index_holder{
                        position: absolute;z-index: 100;right: 10px;bottom: 20px;cursor: pointer;

                        span{
                            display: block;float: left;width: 29px;height: 29px;line-height: 29px;margin: 0 2px;
                            background: url(../images/index1.png) no-repeat;
                            border: none;color: #fcf5f5;font-size: 16px;text-decoration: none;font-family: '微软雅黑';font-weight: bold;text-align: center;
                        }
                        .active{
                            background: url(../images/index2.png) no-repeat;border: none;color: #fcf5f5;
                        }
                    }

                }

                .img_block_plate{
                    width: 740px;height: 132px;padding-top: 7px;padding-left: 3px;
                    background: url(../images/img-block-top.gif) left top no-repeat;
                    a{
                        width: 239px;padding-right: 7px;
                        background: url(../images/img-tuan-right.gif) right top no-repeat;float: left;
                        position: relative;
                        height: 132px;
                        zoom: 1;
                        img{
                            display: block;width: 239px;
                            height: 131px;
                        }
                    }
                }

                .flashsale{
                    width: 740px;height: 373px;_height: 369px;padding-top: 10px;background: url(../images/flashsale-top.jpg) left top no-repeat;background-color: #fff;

                    .plate_title{
                        position: relative;
                        height: 32px;border-bottom: 2px solid #e6e7e8;margin-bottom: 5px;margin-left: 2px;box-sizing: border-box;
                    
                        h2{
                            position: absolute;left: 0;top: 0;width: 120px;height: 32px;overflow: hidden;line-height: 32px;padding-left: 3px;border-bottom: 2px solid #2ba2e6;color: #2ba2e6;font-size: 14px;
                        }

                        .flashsale_remain_time{
                            position: absolute;left: 502px;top: 0;height: 32px;width: 157px;
                            .title{
                                position: absolute;left: -5px;top: 11px;color: #888;
                            }
                            p{
                                position: absolute;left: 50px;top: 6px;height: 26px;line-height: 26px;color: #cc3300;font-size: 20.38px;
                                span{
                                    float: left;font-family: Impact, Arial;font-weight: bolder;
                                }
                            }
                        }

                        .flashsale_pagination{
                            position: absolute;left: 645px;top: 11px;height: 16px;width: 76px;overflow: hidden;

                            a,span{
                                display: block;float: left;height: 16px;width: 14px;text-align: center;color: #888;
                            }

                            .current{
                                color: #cc3300;
                            }

                            .prev{
                                width: 15px;background: url(../images/flashsale-pagination-prev.gif) no-repeat;
                            }
                            .next{
                                width: 15px;background: url(../images/flashsale-pagination-next.gif) no-repeat;
                            }
                        }
                    }

                    .book_list{
                        width: 725px;height: 234px;padding-left: 15px;
                        
                        li{
                            float: left;width: 179px;height: 234px;display: none;

                            .small_cover{
                                display: block;text-align: center;width: 156px;height: 156px;margin: 0 auto;margin-top: 13px;

                                img{
                                    display: inline-block;
                                    max-width: 100%;
                                    max-height: 100%;
                                    vertical-align: middle;
                                }
                            }

                            .book_intro{
                                display: block;height: 37px;line-height: 18px;width: 151px;margin: 5px auto 0 auto;overflow: hidden;text-align: center;
                            }

                            p{
                                color: #cc3300;font-family: '微软雅黑';font-weight: bold;font-size: 14px;text-align: center;
                                span{
                                    font-size: 14px;font-weight: bold;color: #cc3300;font-family: '微软雅黑';text-align: center;
                                }
                            }
                        }
                        .li_cur{
                            display: block;
                        }
                    }


                }
            }
        }

        //商品列表块
        .box_shadow{
            position: relative;zoom: 1;padding-top: 16px;margin-top: 0;z-index: 10;
            box-sizing: border-box;

            i{
                height: 24px;
                background: url(../images/mian-bottom.gif) no-repeat;
            }
            .box-gap{
                display: block;position: absolute;left: 0;top: 0;width: 100%;height: 30px;background: url(../images/bg-box-gap.png) left top no-repeat;font-size: 0;content: " ";
            }

            .box_content{
                position: relative;zoom: 1;display: block;padding: 0 10px 0px 8px;background: url(../images/bg-box.png) left bottom repeat-y;
                overflow: hidden;

                .new_books,.editor-choice,.bargain-price,.famous,.periodicals-magazines{
                    height: 526px;float: left;width: 730px;background: #ffffff;

                    .plate_title{
                        position: relative;height: 32px;border-bottom: 2px solid #e6e7e8;
                        margin-left: 6px;

                        h2{
                            position: absolute;left: 0;top: 0;width: 120px;height: 32px;overflow: hidden;line-height: 32px;padding-left: 3px;border-bottom: 2px solid #2ba2e6;color: #2ba2e6;font-size: 14px;
                        }
                    }

                    .book-list{
                        padding-left: 12px;
                        padding-top: 8px;
                        li{
                            float: left;
                            width: 179px;
                            height: 234px;color: #7a7a7a;

                            .small_cover{
                                display: block;width: 156px;height: 156px;margin: 0 auto;margin-top: 13px;text-align: center;

                                img{
                                    display: inline-block;max-width: 100%;max-height: 100%;vertical-align: middle;
                                }
                            }

                            .book_intro{
                                display: block;height: 37px;line-height: 18px;width: 151px;margin: 5px auto 0 auto;overflow: hidden;text-align: center;
                            }

                            .price{
                                color: #cc3300;font-family: '微软雅黑';font-weight: bold;font-size: 14px;text-align: center;

                                span{
                                    font-size: 14px;font-weight: bold;
                                }
                            }
                        }
                    }

                }

                .editor-choice{
                    height: 520px;
                    
                }

                .bargain-price{
                    height: 433px;
                }

                .famous{
                    height: 494px;

                    .authorList{
                        li{
                            float: left;position: relative;height: 200px;width: 340px;margin-left: 12px;margin-top: 12px;background: #f5f5f5;

                            .img{
                                position: absolute;left: 10px;top: 12px;display: block;width: 126px;height: 126px;padding: 1px;border: 1px solid #dddddd;

                                img{
                                    display: block;width: 126px;height: 126px;
                                }
                            }

                            .author-key-message{
                                position: absolute;left: 158px;top: 20px;width: 170px;overflow: hidden;color: #666;
                            }
                            .author-detail-message{
                                position: absolute;left: 158px;top: 46px;width: 170px;height: 89px;overflow: hidden;color: #888;
                            }
                            .author-related-works{
                                position: absolute;left: 12px;top: 152px;width: 254px;height: 36px;padding-left: 60px;color: #666;overflow: hidden;line-height: 36px;vertical-align: top;

                                span{
                                    display: block;position: absolute;left: 0;top: 0;height: 100%;line-height: 36px;
                                }
                                a{
                                    display: inline-block;width: 60px;height: 36px;margin: 0 5px;line-height: 36px;text-decoration: none;overflow: hidden;
                                }
                            }
                        }
                    }
                }

                .periodicals-magazines{
                    height: 525px;
                }

                //------------right.css
                .presell,.hot-topic{
                    position: relative;padding-right: 4px;
                    float: right;height: 526px;
                    width: 246px;
                    background: #ffffff;

                    .plate-title{
                        position: relative;
                        height: 32px;
                        border-bottom: 2px solid #e6e7e8;
                        h3{
                            position: absolute;left: 0;top: 0;width: 120px;height: 32px;overflow: hidden;line-height: 32px;padding-left: 3px;border-bottom: 2px solid #2ba2e6;color: #2ba2e6;font-size: 14px;
                        }
                    }

                    //...
                    .presell-plate{
                        height: 476px;margin-top: 10px;
                        border-left: 1px solid #e4e4e4;
                        padding-left: 7px;
                        overflow: hidden;
                        a{
                            display: block;width: 237px;
                            img{
                                width: 237px;
                            }
                        }
                    }

                    .hot-topic-plate{
                        width: 238px;
                        margin: 0 0 0 7px;
                            
                        a{
                            float: left;width: 218px;height: 188px;padding: 9px;margin-top: 12px;background: #e2f1ee;

                            img{
                                width: 218px;
                                height: 188px;
                            }
                        }
                        
                    }
                }

                .hot-rank-list{
                    position: relative;padding-right: 4px;float: right;width: 246px;background: #ffffff;

                    .plate-title{
                        position: relative;height: 32px;border-bottom: 2px solid #e6e7e8;

                        h3{
                            position: absolute;left: 0;top: 0;width: 120px;height: 32px;overflow: hidden;line-height: 32px;padding-left: 3px;border-bottom: 2px solid #2ba2e6;color: #2ba2e6;font-size: 14px;
                        }
                    }

                    .hot-sort{
                        margin-bottom: 0;border-left: 1px solid #e4e4e4;
                        padding-left: 8px;
                        margin-top: 5px;
                        padding-top: 2px;
                        height: 25px;
                        overflow: hidden;

                        li{
                            display: block;
                            float: left;
                            width: 37px;
                            height: 25px;
                            line-height: 21px;
                            text-align: center;
                            color: #0163af;
                            cursor: pointer;
                        }
                        .active{
                            color: #333333;
                            background: url(../images/hot-active.gif) no-repeat;
                        }
                    }

                    .hot-list{
                        display: none;
                        cursor: pointer;
                        position: relative;
                        padding-left: 4px;
                        margin-top: 0;
                        height: 340px;

                        li{
                            position: relative;
                            height: 29px;
                            margin-left: 12px;
                            border-bottom: 1px solid #f4f4f4;
                            a{
                                // display: block;
                                .small-img{
                                    display: none;
                                    img{
                                        width: 36px;
                                        height: 54px;
                                    }
                                }
                                .number{
                                    position: absolute;
                                    left: 0;
                                    top: 8px;
                                    _top: 7px;
                                    display: block;
                                    width: 13px;
                                    height: 13px;
                                    line-height: 13px;
                                    background: url(../images/number-bg.gif) 0 0 no-repeat;
                                    color: #565656;
                                    text-align: center;
                                }
                                .infor{
                                    position: absolute;
                                    left: 20px;
                                    width: 187px;
                                    height: 28px;
                                    line-height: 28px;
                                    padding-left: 4px;
                                    overflow: hidden;
                                    color: #666666;
                                }
                                .price{
                                    display: none;
                                }
                            }
                        }
                        .active{
                            width: 241px;height: 76px;margin-left: 0;margin-bottom: 4px;background: #f8f8f8;border-top: 1px solid #f0f0f0;border-bottom: 1px solid #f0f0f0;
                            .small-img{
                                display: block;position: absolute;left: 33px;top: 9px;width: 54px;height: 54px;text-align: center;border: 1px solid #d2d2d2;
                            }
                            .number{
                                top: 5px;margin-left: 12px;background: url(../images/number-bg.gif) 0 -13px no-repeat;color: #d70000;
                            }
                            .infor{
                                position: absolute;
                                left: 96px;
                                top: 10px;
                                height: 36px;
                                line-height: 18px;
                                width: 97px;
                                border: none;
                            }
                            .price{
                                display: block;
                                position: absolute;
                                left: 96px;
                                top: 49px;
                                color: rgb(204, 51, 0);
                                font-weight: 600;
                                font-family: 微软雅黑;
                            }
                        }
                    }

                    //....
                    .J_hot-block{
                        height: 412px;
                    }

                    .hot_cur{
                        display: block;
                    }
                }


                //...
                .hot-rank-list3{
                    height: 520px;
                }

                .hot-rank-list2{
                    height: 433px;
                }

                .hot-rank-list1{
                    height: 525px;
                }
                

            }

        }
    }

    #footer{
        .footer_tips{
            width: 998px;padding-top: 30px;margin: 0 auto;
            min-height: 200px;margin-top: -6px;box-sizing: border-box;position: relative;zoom: 1;z-index: 10;

            i{
                display: block;position: absolute;left: 0;top: 0;width: 100%;height: 30px;
                background: url(../images/bg-box-gap.png) left top no-repeat;font-size: 0;
                content: " ";
            }
            .box_content{
                position: relative;zoom: 1;display: block;padding: 0 10px 0px 8px;background: url(../images/bg-box.png) left bottom repeat-y;
                overflow: hidden;

                .related_links{
                    float: left;width: 690px;height: 168px;padding-top: 3px;padding-left: 40px;

                    div{
                        width: 120px;
                        float: left;
                        h3{
                            display: block;height: 24px;font-size: 13px;text-align: left;color: #666666;
                        }
                        a{
                            display: block;line-height: 20px;color: #666666;
                        }
                    }
                }
                .follow_us{
                    position: relative;top: -5px;float: right;width: 250px;height: 161px;

                    img{
                        display: block;
                        margin: 10px auto 0 auto;
                    }
                    div{
                        height: 159px;padding-top: 8px;background: url(../images/border-bg-y.gif) repeat-y;
                        a{
                        }
                    }
                }
            }
        }
        
        .footer_nav{
            min-height: 34px;width: 100%;margin: 0 auto;position: relative;background:url(../images/nav-box.png) repeat-x;

            .f_n{
                width: 815px;margin: 0 auto;
                span{
                    background: url(../images/footer-icon1.png) no-repeat;
                    display: block;float: left;width: 135px;height: 34px;line-height: 34px;background-position: left 3px;padding-left: 28px;color: #fefefe;font-size: 16px;font-family: '微软雅黑';cursor: default;text-decoration: none;
                }
            }
        }

        .footer_links{
            width: 545px;min-height: 18px;margin: 17px auto;
            
            a{
                color: #333333;
            }
            span{

            }
        }

        .footer_copyright{
            width: 900px;min-height: 85px;margin: auto;padding: 25px 0;background: url(../images/copyright.gif) 320px 8px no-repeat;box-sizing: border-box;


            .copyright{
                padding-right: 70px;
            }
        }

        .footer_final{
            width: 260px;min-height: 47px;
            margin: 31px auto;
            a{
                display: block;
                width: 128px;
                height: 47px;
                background: url(../images/footer-certificate2.gif) no-repeat;
            }
        }
    }


    //补充
    .flash-sale-recommend-plate{
        margin-top: 13px;

        a{
            display: inline-block;width: 218px;height: 89px;border: 1px solid #e4e4e4;

            img{
                display: block;width: 213px;height: 86px;margin: 1px auto;
            }
        }
        a:first-child{
            margin-left: 23px;
            margin-right: 11px;
        }
        a:last-child{
            margin-left: 11px;
        }
    }

    .bargain-price-plate {
        padding-top: 28px;
        a{
            width: 210px;
            height: 104px;
            img{
                height: 104px;
            }
        }

    }

}